<?php


return [
    'gnc-apigility-tools'=>[
        'sql-actuator-mapper' => [
            'default'=>[
                'composite_key' => false,
                'mapper_class' => 'ApigilityTools\\Mapper\\SqlActuatorMapper',

                'listeners' => [
                    'ApigilityTools\Listener\Sql\SqlFetchListener',
                    'ApigilityTools\Listener\Sql\SqlFetchAllListener',
                    'ApigilityTools\Listener\Sql\SqlCreateListener',
                    'ApigilityTools\Listener\Sql\SqlUpdateListener',
                    'ApigilityTools\Listener\Sql\SqlDeleteListener',
                    'ApigilityTools\Listener\Query\ConstraintWhereListener',
                    'ApigilityTools\Listener\Query\SelectQueryListener',
                    'ApigilityTools\Listener\Query\UpdateQueryListener',
                    'ApigilityTools\Listener\Query\DeleteQueryListener',
                    'ApigilityTools\Listener\Query\InsertQueryListener',
                    'ApigilityTools\Listener\Query\RunQueryListener',
                    'ApigilityTools\Listener\Sql\SqlPaginatorListener',
                    'ApigilityTools\Listener\HydratorDbResultListener' ,
                    'ApigilityTools\\Listener\\Query\\WhereIdListener',
                    'ApigilityTools\\Listener\\HydratorPreLimitedDbResultsetCollectionListener',
                    'ApigilityTools\\Listener\\Query\\CountAffectedQueryListener'
                ]

            ],
            'Mapper\\Class' => [
                'namespace' => '',
                'db_adapter' => '',
                'db_schema' => '',
                'db_table' => '',
                'listeners' => [
                ]
            ]
        ]

    ],
    /**
    * configurare la cache
    */
    'caches' => [
        'gnc_apigility_tools_model_cache' => [
            'adapter' => [
                'name' => 'filesystem',
                'options' => [
                    'cache_dir' => __DIR__ . '/../../../data/cache',
                    'ttl' => 3600,
                ],
            ],
            'plugins' => [
                'serializer' => []
            ]
        ]
    ]
];
