<?php

return [

    'gnc-apigility-tools'=>[

    ]
    /**
    * configurare la cache
    */
    'caches' => [
        'apigility_tools_model_cache' => [
            'adapter' => [
                'name' => 'filesystem',
                'options' => [
                    'cache_dir' => __DIR__ . '/../../../data/cache',
                    'ttl' => 3600,
                ],
            ],
            'plugins' => [
                'serializer' => []
            ]
        ]
    ]
];
